In [1]:
message = 'And now for something completely different'
n = 17
pi = 3.141592653589793

In [2]:
42

42

In [3]:
n

17

In [4]:
n + 25

42

In [6]:
n = 17
print(n)

17

In [9]:
miles = 26.2
miles * 1.61

42.182

In [8]:
miles = 26.2
print(miles * 1.61)

42.182

In [10]:
print(1)
x = 2
print(x)

1
2

In [11]:
5
x = 5
x + 1

6

In [12]:
first = 'throat'
second = 'warbler'
first + second

'throatwarbler'

### ExercÃ­cios

In [14]:
n = 42

In [15]:
42 = n

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (3090476294.py, line 1)

In [16]:
x = y = 1
print(x)
print(y)

1
1

In [18]:
x;
print(x);

1

In [19]:
x.

SyntaxError: invalid syntax (1209101337.py, line 1)

In [20]:
xy

NameError: name 'xy' is not defined

In [21]:
x*y

1

In [22]:
r=5
pi=3.141592653589793
4/3*pi*r**3

523.5987755982989

In [5]:
preco_capa = 24.95
preco_livraria = preco_capa * (1 - 0.40) * 60
Custo_transporte = 3 + 0.75 * (60 - 1)
custo_total = preco_livraria + Custo_transporte
custo_total

945.4499999999999

In [23]:
minutos=8+3*7+8
segundos=15+3*12+15
hora = 6
minutos = minutos +52
minutos
minutos = minutos - 60
minutos
hora = 6+1
minutos = minutos + 1
segundos = 66 - 60
hora, minutos, segundos

(7, 30, 6)